#active-link{
    color: #2F55D4;
}

.my-blue-text{
    color: #2F55D4;
}

.my-blue-bg{
    background-color: #2F55D4;
}

.my-alice-blue-bg{
    background-color: #2F55D41A;
}

.my-light-gray-bg{
    background-color: #F8F9FC;
}

.my-dark-gray{
    background-color: #4F5A69;
}